*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}
    
.navbar {
    background-color: #808080;
    color: #2980B9;
  }
  
 
  .form-control {
    background-color: #808080;
  }
  
  .form-control:focus {
    background-color: #2980B9;
  }
  
